body {
  //background-color: #eee;
  //font-family: 'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}

/*
div#app {
  width: 600px;
  padding-top: 100px;
  margin: auto;
}

button {
  margin: 0 auto;
  width: 200px;
  background-color: #1E90FF
}
*/
